.width-40 {
	width: 290px !important;
	word-break: break-all;
}

@media only screen and (max-width:1199px){

.width-40 {
	width: 150px !important;
	word-break: normal;
	/* display: inherit !important; */
}
td.width-40 {
	width: 260px !important;
	word-break: break-all;
	display: block !important;
}
}